.side-bar-container {
    min-height: 100vh;
    height: 100vh;
    position: relative;
    z-index: 4;
    width: 300px;
    min-width: 300px;
    padding: 20px;
    background: rgb(128, 122, 122);
    display: flex;
    flex-direction: column;
    // box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.377);
    align-items: flex-start;
    overflow: scroll;

    details{
        margin-bottom: 5px;
        transition: .4s;
        p{
            background: rgb(80, 80, 80);
            padding: 10px;
            border: solid white 1px;
        }
    }

    details[open] summary ~ * {
        animation: sweep .5s ease-in-out;
      }

      @keyframes sweep {
        0%    {opacity: 0; transform: translate(-50px,0)}
        100%  {opacity: 1; transform: translate(0px,0)}
      }

    summary:hover {
        cursor: pointer;
    }
    
    summary:focus {
        outline: none;
    }

    .output-button {
        max-height: 110px;
        margin: 0px 0 30px;
        
        >div {
            max-height: 45px;
            margin: 10px 0 0;
        
        }

        button {
            height: 40px;
            width: 100%;
            margin-top: 10px;
            font-size: 20px;
            cursor: pointer;
            background: rgb(128, 163, 252);
            color: white;
            transition: .08s;
            border: none;
            border-radius: 2px;
            text-shadow: .5px .5px 1.5px rgb(70,70,50);
            box-shadow: 0 5px 0px rgb(79, 104, 167);
        }

        button:active {
            margin-top: 11px;
            box-shadow: 0 1px 0px rgb(115, 75, 207);
        }

        

        button:focus{
            outline: none;
        }

        .hide {
            background: #5275CC;
            box-shadow: 0 5px 0px rgb(46, 71, 136);

        }

        .hide:active {
            margin-top: 11px;
            box-shadow: 0 1px 0px rgb(46, 71, 136);
        }
    }

    input[type=radio]{
        width: 16px;
        height: 16px;
        
    }

    >div {
        width: 100%;
    }

    .range-container{
        width: 100%;

        input[type=range].slider {
            -webkit-appearance: none;
            width: 100%;
            margin: 15.8px 0;
          }
          input[type=range].slider:focus {
            outline: none;
          }
          input[type=range].slider::-webkit-slider-runnable-track {
            width: 100%;
            height: 8.4px;
            cursor: pointer;
            box-shadow: 1px 1px 1px #000000e1, 0px 0px 1px #0d0d0dd5;
            background: #f8f8f8;
            border-radius: 1.3px;
            border: 0.2px solid #010101;
          }
          input[type=range].slider::-webkit-slider-thumb {
            box-shadow: 1px 1px 1px #0000009a, 0px 0px 1px #0d0d0daf;
            border: 1px solid rgb(33, 98, 151);
            height: 20px;
            width: 24px;
            border-radius: 2px;
            background: rgb(128, 163, 252);
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -6px;
          }
          input[type=range].slider:focus::-webkit-slider-runnable-track {
            background: #f8f8f8;
          }
          input[type=range].slider::-moz-range-track {
            width: 100%;
            height: 8.4px;
            cursor: pointer;
            box-shadow: 1px 1px 1px rgb(155, 92, 77), 0px 0px 1px #0d0d0d;
            background: #e8c490;
            border-radius: 1.3px;
            border: 0.2px solid #010101;
          }
          input[type=range].slider::-moz-range-thumb {
            box-shadow: 1px 1px 1px rgb(155, 92, 77), 0px 0px 1px #0d0d0d;
            border: 1px solid rgb(33, 98, 151);
            height: 20px;
            width: 24px;
            border-radius: 2px;
            background: #ffffff;
            cursor: pointer;
          }
          input[type=range].slider::-ms-track {
            width: 100%;
            height: 8.4px;
            cursor: pointer;
            background: transparent;
            border-color: transparent;
            color: transparent;
          }
          input[type=range].slider::-ms-fill-lower {
            background: #e4bb7f;
            border: 0.2px solid #010101;
            border-radius: 2.6px;
            box-shadow: 1px 1px 1px rgb(155, 92, 77), 0px 0px 1px #0d0d0d;
          }
          input[type=range].slider::-ms-fill-upper {
            background: #e8c490;
            border: 0.2px solid #010101;
            border-radius: 2.6px;
            box-shadow: 1px 1px 1px rgb(155, 92, 77), 0px 0px 1px #0d0d0d;
          }
          input[type=range].slider::-ms-thumb {
            box-shadow: 1px 1px 1px rgb(155, 92, 77), 0px 0px 1px #0d0d0d;
            border: 1px solid rgb(33, 98, 151);
            height: 20px;
            width: 24px;
            border-radius: 2px;
            background: #ffffff;
            cursor: pointer;
            height: 8.4px;
          }
          input[type=range].slider:focus::-ms-fill-lower {
            background: #e8c490;
          }
          input[type=range].slider:focus::-ms-fill-upper {
            background: #eccda1;
          }
          
    }

    .color-container{

        display: flex;
        margin:10px 0 25px 0;
        justify-content: center;
        align-items: center;

        .color{
            width: 100%;
            height: 30px;
            font-size: 16px;
            color: white;
            border: none;
        }

        label {

            color: white;
            text-shadow: .5px .5px 1.5px rgb(70,70,50);
            margin-right: 8px;
        }

    }


    >label {
        font-size: 20px;
        color: white;
        text-shadow: .5px .5px 1.5px rgb(70,70,50);
        
    }
    .flex-children {
        width: 100%;
        margin: 10px 0px;
        
    }

    .flex-direction {
        display: flex;
        flex-direction: column;
        color: white;
        text-shadow: .5px .5px 1.5px rgb(70,70,50);
        
        padding: 10px 0px;
        width: 100%;
        >details > summary {
            margin-bottom: 5px;
            width: 100%;
            border-bottom: white solid 1px;
            text-align: center;
            font-size: 20px;
            text-shadow: 1.5px 1.5px 2.5px rgb(70,70,50);
            
        }
    }
    .child-input-container {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        justify-content: center;
        width: 100%;

        h2 {
            text-align: center;
            font-size: 20px;
            margin-bottom: 5px;
            border-bottom: solid 1px white;
        }
    }

    .child-input-container > div {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .for-margin {
            padding-top: 10px;
            align-items: flex-start!important;

            label {
                flex: 1;
                
                
            }
        }


        .child-flex-options {
            display: flex;
            
            flex-direction: column;

            h3 {
                margin: 0 5px 5px 0;
                font-size: 20px;
                width: 100%;
                text-align: center;          
            }
            input {
                flex: 1;
                height: 30px;
                border-radius: 3px;
                border: none;
                font-size: 16px;
                padding-left: 5px;
                max-width: 100px;
            }

            input:focus {
                outline: none;
            }

            

            .child-option-margin{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                flex: 1;
                >div {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    justify-content: space-evenly;
                }
                input {
                   
                   margin: 10px 0;
                }
            }
        }
    }

    .child-input-container > div:first-child {
        margin:0 0 10px 0;
    }
    .child-input-container > * + * {
        margin: 10px 0;
    }

    
}

