.side-bar-container {
  max-height: 100vh;
  height: 100%;
  position: relative;
  z-index: 4;
  width: 300px;
  min-width: 300px;
  padding: 20px;
  background: #807a7a;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: scroll; }
  .side-bar-container details {
    margin-bottom: 5px;
    transition: .4s; }
    .side-bar-container details p {
      background: #505050;
      padding: 10px;
      border: solid white 1px; }
  .side-bar-container details[open] summary ~ * {
    animation: sweep .5s ease-in-out; }

@keyframes sweep {
  0% {
    opacity: 0;
    transform: translate(-50px, 0); }
  100% {
    opacity: 1;
    transform: translate(0px, 0); } }
  .side-bar-container summary:hover {
    cursor: pointer; }
  .side-bar-container summary:focus {
    outline: none; }
  .side-bar-container .output-button {
    max-height: 110px;
    margin: 0px 0 30px; }
    .side-bar-container .output-button > div {
      max-height: 45px;
      margin: 10px 0 0; }
    .side-bar-container .output-button button {
      height: 40px;
      width: 100%;
      margin-top: 10px;
      font-size: 20px;
      cursor: pointer;
      background: #80a3fc;
      color: white;
      transition: .08s;
      border: none;
      border-radius: 2px;
      text-shadow: 0.5px 0.5px 1.5px #464632;
      box-shadow: 0 5px 0px #4f68a7; }
    .side-bar-container .output-button button:active {
      margin-top: 11px;
      box-shadow: 0 1px 0px #734bcf; }
    .side-bar-container .output-button button:focus {
      outline: none; }
    .side-bar-container .output-button .hide {
      background: #5275CC;
      box-shadow: 0 5px 0px #2e4788; }
    .side-bar-container .output-button .hide:active {
      margin-top: 11px;
      box-shadow: 0 1px 0px #2e4788; }
  .side-bar-container input[type=radio] {
    width: 16px;
    height: 16px; }
  .side-bar-container > div {
    width: 100%; }
  .side-bar-container .range-container {
    width: 100%; }
    .side-bar-container .range-container input[type=range].slider {
      -webkit-appearance: none;
      width: 100%;
      margin: 15.8px 0; }
    .side-bar-container .range-container input[type=range].slider:focus {
      outline: none; }
    .side-bar-container .range-container input[type=range].slider::-webkit-slider-runnable-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      box-shadow: 1px 1px 1px #000000e1, 0px 0px 1px #0d0d0dd5;
      background: #f8f8f8;
      border-radius: 1.3px;
      border: 0.2px solid #010101; }
    .side-bar-container .range-container input[type=range].slider::-webkit-slider-thumb {
      box-shadow: 1px 1px 1px #0000009a, 0px 0px 1px #0d0d0daf;
      border: 1px solid #216297;
      height: 20px;
      width: 24px;
      border-radius: 2px;
      background: #80a3fc;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -6px; }
    .side-bar-container .range-container input[type=range].slider:focus::-webkit-slider-runnable-track {
      background: #f8f8f8; }
    .side-bar-container .range-container input[type=range].slider::-moz-range-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      box-shadow: 1px 1px 1px #9b5c4d, 0px 0px 1px #0d0d0d;
      background: #e8c490;
      border-radius: 1.3px;
      border: 0.2px solid #010101; }
    .side-bar-container .range-container input[type=range].slider::-moz-range-thumb {
      box-shadow: 1px 1px 1px #9b5c4d, 0px 0px 1px #0d0d0d;
      border: 1px solid #216297;
      height: 20px;
      width: 24px;
      border-radius: 2px;
      background: #ffffff;
      cursor: pointer; }
    .side-bar-container .range-container input[type=range].slider::-ms-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent; }
    .side-bar-container .range-container input[type=range].slider::-ms-fill-lower {
      background: #e4bb7f;
      border: 0.2px solid #010101;
      border-radius: 2.6px;
      box-shadow: 1px 1px 1px #9b5c4d, 0px 0px 1px #0d0d0d; }
    .side-bar-container .range-container input[type=range].slider::-ms-fill-upper {
      background: #e8c490;
      border: 0.2px solid #010101;
      border-radius: 2.6px;
      box-shadow: 1px 1px 1px #9b5c4d, 0px 0px 1px #0d0d0d; }
    .side-bar-container .range-container input[type=range].slider::-ms-thumb {
      box-shadow: 1px 1px 1px #9b5c4d, 0px 0px 1px #0d0d0d;
      border: 1px solid #216297;
      height: 20px;
      width: 24px;
      border-radius: 2px;
      background: #ffffff;
      cursor: pointer;
      height: 8.4px; }
    .side-bar-container .range-container input[type=range].slider:focus::-ms-fill-lower {
      background: #e8c490; }
    .side-bar-container .range-container input[type=range].slider:focus::-ms-fill-upper {
      background: #eccda1; }
  .side-bar-container .color-container {
    display: flex;
    margin: 10px 0 25px 0;
    justify-content: center;
    align-items: center; }
    .side-bar-container .color-container .color {
      width: 100%;
      height: 30px;
      font-size: 16px;
      color: white;
      border: none; }
    .side-bar-container .color-container label {
      color: white;
      text-shadow: 0.5px 0.5px 1.5px #464632;
      margin-right: 8px; }
  .side-bar-container > label {
    font-size: 20px;
    color: white;
    text-shadow: 0.5px 0.5px 1.5px #464632; }
  .side-bar-container .flex-children {
    width: 100%;
    margin: 10px 0px; }
  .side-bar-container .flex-direction {
    display: flex;
    flex-direction: column;
    color: white;
    text-shadow: 0.5px 0.5px 1.5px #464632;
    padding: 10px 0px;
    width: 100%; }
    .side-bar-container .flex-direction > details > summary {
      margin-bottom: 5px;
      width: 100%;
      border-bottom: white solid 1px;
      text-align: center;
      font-size: 20px;
      text-shadow: 1.5px 1.5px 2.5px #464632; }
  .side-bar-container .child-input-container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    justify-content: center;
    width: 100%; }
    .side-bar-container .child-input-container h2 {
      text-align: center;
      font-size: 20px;
      margin-bottom: 5px;
      border-bottom: solid 1px white; }
  .side-bar-container .child-input-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .side-bar-container .child-input-container > div .for-margin {
      padding-top: 10px;
      align-items: flex-start !important; }
      .side-bar-container .child-input-container > div .for-margin label {
        flex: 1; }
    .side-bar-container .child-input-container > div .child-flex-options {
      display: flex;
      flex-direction: column; }
      .side-bar-container .child-input-container > div .child-flex-options h3 {
        margin: 0 5px 5px 0;
        font-size: 20px;
        width: 100%;
        text-align: center; }
      .side-bar-container .child-input-container > div .child-flex-options input {
        flex: 1;
        height: 30px;
        border-radius: 3px;
        border: none;
        font-size: 16px;
        padding-left: 5px;
        max-width: 100px; }
      .side-bar-container .child-input-container > div .child-flex-options input:focus {
        outline: none; }
      .side-bar-container .child-input-container > div .child-flex-options .child-option-margin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex: 1; }
        .side-bar-container .child-input-container > div .child-flex-options .child-option-margin > div {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: space-evenly; }
        .side-bar-container .child-input-container > div .child-flex-options .child-option-margin input {
          margin: 10px 0; }
  .side-bar-container .child-input-container > div:first-child {
    margin: 0 0 10px 0; }
  .side-bar-container .child-input-container > * + * {
    margin: 10px 0; }
