.Main {
  display: flex;
  align-items: center;
  min-width: 860px;
  width: 100%;
  max-height: 100vh;
  height: 100vh;
  overflow: scroll;
  position: relative; }
  .Main > h1 {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: #807a7a;
    margin: 0 auto;
    font-size: 38px;
    z-index: 0;
    color: white;
    padding: 5px 0;
    text-shadow: 1px 1px 2px #464632;
    letter-spacing: 3px; }
    @media (max-width: 860px) {
      .Main > h1 {
        padding-left: 200px; } }
  .Main .parent-classname {
    color: #02173E;
    font-size: 24px;
    position: absolute;
    z-index: 2;
    top: -28px;
    left: 0; }
  .Main > div:nth-child(2) {
    background: #f3f3f3;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .Main .generated-div {
    display: flex;
    flex-direction: column; }
    .Main .generated-div .child-title {
      font-size: 20px; }
  .Main .css-output-container {
    min-height: 185px;
    width: 300px;
    position: absolute;
    top: 265px;
    font-size: 17px;
    left: 315px;
    border-radius: 8px;
    padding-top: 10px;
    background: #f0ede8;
    color: #505050;
    transition: .3s;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.377);
    z-index: 3;
    border: black solid 1px; }
    .Main .css-output-container h1 {
      position: absolute;
      top: 5px;
      left: 5px; }
  .Main .css {
    top: 65px;
    min-height: 85px; }
  .Main .slide-in {
    transform: translate(0px, 0px); }
  .Main .slide-out {
    transform: translate(-352px, 0px); }
  .Main pre {
    margin: 0 auto; }
  .Main .child-css {
    top: 200px; }

.attribution {
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  text-align: center;
  color: #8f8f8f;
  max-height: 85px;
  height: 85px;
  max-width: 280px;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0; }
  .attribution a {
    color: #8f8f8f;
    width: 100%; }
  .attribution a:hover {
    color: #5c5b5b; }
  .attribution .made-with {
    font-size: 20px;
    letter-spacing: -4px;
    transform: rotate(270deg);
    margin: 0 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
  .attribution h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .attribution > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%; }
    .attribution > div:first-child > div {
      position: absolute;
      right: 120px; }

.child-container {
  border: solid 1px white;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 6px black;
  margin: 20px 0; }
