.Main {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    position: relative;

    >div:nth-child(2) {
        background: rgb(255, 255, 255);
        width: 100%;
        height: 100vh;
        padding: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; 
        
    }

    .css-output-container {
        height: 175px;
        width: 300px;
        position: absolute;
        top: 0;
        font-size: 17px;
        left: 272px;
        border-radius: 8px;
        background: #faf1e4;
        color: rgb(80, 80, 80);
        transition: .3s;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.377);
        z-index: 0;
        border: black solid 1px;
        
     
    }

    .slide-in {
        transform: translate(0px, 0px);
    }

    .slide-out {
        transform: translate(-352px, 0px);
    }

    pre {
        margin: 0 auto;
    }
}